* {
    font-family="Times New Roman",sans-serif;
    background-color: yellow;
}


img 
    {
        height: auto;
        width: 300px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

h1
    {
        text-align: center;
    }

